extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{messages[0].text}
  
  each message in messages
    p text: #{message.text}
    p user: #{message.user}
    p added: #{message.added.toDateString()}


  a(href="/new") new



